
fastapi==0.109.0
uvicorn==0.27.0
motor==3.3.2
pydantic==2.6.0
python-multipart==0.0.9
httpx==0.26.0
python-dotenv==1.0.1
email-validator==2.1.0.post1
dnspython==2.6.1
deepface==0.0.83
tf-keras==2.15.0
opencv-python==4.9.0.80
chromadb==0.4.22
numpy==1.26.3
Pillow==10.2.0
protobuf==3.20.3
pymongo<4.9.0
